.navigation{
    margin: auto;
    margin-left: 3%;
    margin-top: 0px;
    width: 25%;
    border-radius: 40px 0px 40px 40px;


}
.title{
    height: 90px;
    width: 100%;
    line-height: 70px;
    backdrop-filter: blur(4px);
    color: white;
    text-align: center;
    border-radius: 40px 0px 0px 0px;
    background: #042238;

    font-weight: normal;
    font-family: Garamond;
    font-style: normal;
    font-size: 50px;
    font-size: calc(1em + 0.8vw);
}
.menu{
    padding: 1px 10px;
    background: rgba(29, 62, 109, 0.7);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    color:white;
    border-radius: 0px 0px 40px 40px;
    font-family: Garamond;
    font-style: normal;
    font-size: calc(1em + 0.6vw);
    line-height: 50px;
    padding-left: 40px;
    padding-top: 5%;
    padding-bottom: 70px;
}
.link{
    line-height: 50px;
    display: block;
    margin: 0 20px;

    position: relative;

    color: #fff;
    text-decoration: none;

    transition: color .2 linear;

    white-space: nowrap;

    
}
.active{
    line-height: 50px;
    margin: 0 20px;
    display: block;

    position: relative;

    color: #32D15C;
    text-decoration: none;

    transition: color .2 linear;

    white-space: nowrap;
}

.link:hover{
    color: #32D15C;

}
.link:after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    display: none;

    background-color: #48a722;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}
.link:hover:after{
    display: block;
}