.field {
    margin: 50px auto;
    width: 80%;
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
    color: #fff;
    border: 9px solid #132b5c;
    box-sizing: border-box;
    border-radius: 30px;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
}

.time {
    font-size: 50px;
    text-decoration: overline;
    text-decoration-color: #132b5c;
    text-decoration-thickness: 3px;
}

.date {
    font-size: 20px;
}