.field {
    margin: 50px auto;
    width: 80%;
    padding: 0;
    color: #fff;
    border: 12px solid #132b5c;
    box-sizing: border-box;
    border-radius: 30px;
    text-align: center;
    line-height: 30px;
}

.time {
    font-size: 40px;
    text-decoration: overline;
    text-decoration-color: rgb(54, 255, 87);
}

.date {
    font-size: 20px;
}